@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

/* RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    line-height: 1.5;
}

:root {
    /* PRIMARY */
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
    --Dark-blue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

    /* NEUTRAL */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /* FONT */
    --font-text-one: 'Barlow', sans-serif;
    --font-text-two: 'Fraunces', serif;
}

.menu-mobile {
    display: none;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    padding: 3rem;
    background-color: #3EBFFF;
}

.container {
    max-width: 122rem;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav_list li {
    margin-right: 3rem;
}

.nav_list a {
    font-size: 1.4rem;
    font-family: var(--font-text-one);
    font-weight: 400;
    color: var(--White);
}

.nav_list a:hover {
    color: black;
    transition: .4s;
}

a.contact {
    display: block;
    text-align: center;
    background-color: var(--White);
    padding: 1rem;
    color: black;
    width: 14rem;
    border-radius: 5rem;
    font-family: var(--font-text-two);
    font-size: 1.8rem;
}

a.contact:hover {
    background-color: #65CCFF;
    color: var(--White);
    transition: .4s;
}