@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

/* RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    line-height: 1.5;
}

:root {
    /* PRIMARY */
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
    --Dark-blue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

    /* NEUTRAL */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /* FONT */
    --font-text-one: 'Barlow', sans-serif;
    --font-text-two: 'Fraunces', serif;
}

[data-menu="menu-open"] {
    display: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* HEADER */

.header {
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 3rem 40rem 3rem;
}

.container {
    max-width: 122rem;
    margin: 0 auto;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav_list {
    display: flex;
    list-style: none;
    align-items: center;
}


.nav_list li {
    margin-right: 3rem;
}


.nav_list a {
    font-size: 1.4rem;
    font-family: var(--font-text-one);
    font-weight: 400;
    color: var(--White);
}


.nav_list a:hover {
    color: black;
    transition: .4s;
}


a.contact {
    display: block;
    text-align: center;
    background-color: var(--White);
    padding: 1rem;
    color: black;
    width: 14rem;
    border-radius: 5rem;
    font-family: var(--font-text-two);
    font-size: 1.8rem;
    text-transform: uppercase;
}


a.contact:hover {
    background-color: #65CCFF;
    color: var(--White);
    transition: .4s;
}


.header-title {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--White);
    font-family: var(--font-text-two);
    letter-spacing: .5rem;
    margin-top: 6rem;
}


.header-img-arrow {
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}

/* MAIN */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.intro_card {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
}

.intro_card h2 {
    font-size: 3rem;
    font-family: var(--font-text-two);
    margin-bottom: 1rem;
}

.intro_card p {
    color: #818498;
    font-family: var(--font-text-one);
    margin-bottom: 2rem;
}

.intro_card a {
    color: #000000;
    font-family: var(--font-text-two);
    position: relative;
}

a.link-egg::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0.5rem;
    border-radius: 3rem;
    background-color: var(--Yellow);
    opacity: 0.3;
    z-index: -1;
}

a.link-egg:hover::after {
    opacity: 1;
    transition: .4s;
}

a.link-cup::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.5rem;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
    border-radius: 3rem;
    background-color: var(--Soft-red);
}

a.link-cup:hover::after {
    opacity: 1;
    transition: .4s;
}


/* PRODUCTS */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.products-one, .products-two {
    position: relative;
}

.products-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% - 40%);
    text-align: center;
    width: 100%;
    max-width: 50rem;
    left: calc(100% - 85%);
}

.products-content h2 {
    color: var(--Dark-desaturated-cyan-graphic-design-text);
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: var(--font-text-two);
}

.products-content p {
    color: var(--Dark-desaturated-cyan-graphic-design-text);
    font-family: var(--font-text-one);
}

/* CLIENTS */

.clients {
    padding: 3rem;
}

.clients h2 {
    text-align: center;
    font-size: 2.2rem;
    font-family: var(--font-text-two);
    color: var(--Grayish-blue);
    text-transform: uppercase;
    margin: 8rem 0;
    letter-spacing: .3rem;
}

.clients-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 35rem;
}

.clients-content img {
    border-radius: 50%;
    object-fit: cover;
    height: 9rem;
    width: 9rem;
    margin-bottom: 3rem;
}

.client-description {
    font-family: var(--font-text-one);
    color: hsl(210, 9%, 39%);
    text-align: center;
}

@media screen and (max-width:700px) {

    /* MENU MOBILE */
    .nav {
        display: none;
    }

    nav.show {
        display: flex;
        position: absolute;
        background-color: var(--White);
        top: calc(100vh - 90%);
        z-index: 1;
        padding: 1rem;
        width: 87%;
        margin-top: 2rem;
    }

    nav.show::before {
        content: "";
        position: absolute;
        top: -1rem;
        right: 0;
        border-bottom: 3rem solid var(--White);
        border-left: 3rem solid transparent;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .nav_list li>a {
        color: var(--Grayish-blue);
    }

    .nav_list li {
        padding: 1rem;
    }

    a.contact {
        background-color: var(--Yellow);
    }

    [data-menu="menu-open"] {
        display: block;
        cursor: pointer;
    }

    .burger::before {
        content: "";
        width: 3rem;
        border-top: 2px solid white;
        display: block;
        transition: .4s;
        position: relative;
    }

    .burger::after {
        content: '';
        display: block;
        width: 3rem;
        border-top: 2px solid white;
        margin: .5rem 1.4rem;
        transition: .4s;
        position: relative;
    }

    .burger.close::after {
        transform: rotate(45deg);
        width: 2rem;
        top: -.7rem;
    }

    .burger.close::before {
        transform: rotate(-45deg);
        width: 2rem;
        left: 1.3rem;
    }

}